.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between; /* Ensure the groceries and cart divs stretch to fill the available space */
  gap: 40px; /* Add gap between groceries and cart */
}

.groceries {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
  overflow-y: auto;
}


.cart {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
  overflow-y: auto;
}

.box-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.grocery-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grocery-item {
  width: calc(33% - 5px); /* Set width for each grocery item to 50% minus the gap */
}
